.homeIcon{
    color:#474bb5;
    background-color: #08fded;
    border-radius: 50%;
    height:50px;
    width:50px;
    font-size: 35px;
    text-align: center;
    padding-top: 5px;
}
.contactIcons{
    color: white;
    width:50%;
    margin-top: 140px;
}
.contactIcons ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    width:60%;
}
.contactIcons li:hover{
    cursor: pointer;
    color: #474bb5;
}