html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #f3faff;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 141.2px;
  padding-top: 195px;
}

h2 {
  color: #f3faff;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 121.5px;
  line-height: 125.6px;
}

h3 {
  color: #f3faff;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 45px;
  line-height: 99.8px;
}

h4 {
  color: #f3faff;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
}

h5 {
  color: #f3faff;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 1.3px;
}

h6 {
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 0;
}

button {
  color: #474bb5;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 25.4px;
  line-height: 41.6px;
  text-align: center;
}

p, li, textarea, #email, #name {
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}

.blogOneRight li {
  list-style: none;
}

.mobile a {
  color: #08fded;
}

.mobile label, #hamburger {
  display: none;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links a {
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  text-decoration: none;
}

.links a:hover {
  background: #044779;
}

@media (max-width: 768px) {
  .mobile label {
    display: inline-block;
    color: #f3faff;
    background: #044779;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  .mobile {
    width: 100%;
  }
  .links a {
    padding: 10px;
    color: #08fded;
    text-decoration: none;
    text-align: center;
  }
  .links a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  .links {
    width: 100%;
  }
  .links {
    display: none;
  }
  .mobile input:checked ~ .links {
    display: block;
  }
}

.homeIcon {
  color: #474bb5;
  background-color: #08fded;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 35px;
  text-align: center;
  padding-top: 5px;
}

.contactIcons {
  color: white;
  width: 50%;
  margin-top: 140px;
}

.contactIcons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
}

.contactIcons li:hover {
  cursor: pointer;
  color: #474bb5;
}

button {
  background: #08fded;
  color: #474bb5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 5px 15px;
}

button:hover, button:focus {
  background: paleturquoise;
  cursor: pointer;
}

.home {
  background-image: url(../FunPlace-final-assets/home-header.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.active {
  border-bottom: 3px solid #08fded;
}

.partTwo {
  background-color: #03697c;
}

.iconBox {
  width: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15%;
  padding-left: 30px;
  padding-bottom: 70px;
}

.links {
  padding-top: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

.picOne {
  width: 50%;
  position: absolute;
  right: 0;
  top: 240px;
}

.iconBox h3 {
  margin-bottom: 0;
}

.picTwo {
  -webkit-box-shadow: 20px 20px #08fded;
          box-shadow: 20px 20px #08fded;
  width: 40%;
}

.partThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #474bb5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partThreeTextLeft {
  width: 40%;
  text-align: right;
  padding-left: 40px;
}

.partThreeTextRight {
  width: 40%;
  text-align: left;
  padding-right: 40px;
}

.partThree button {
  margin-bottom: 20px;
}

.picThree {
  -webkit-box-shadow: -20px 20px #08fded;
          box-shadow: -20px 20px #08fded;
  width: 40%;
}

.partFour {
  background: #03697c;
  padding: 10%;
  text-align: center;
}

.partFour p {
  margin-bottom: 0;
}

.partFour button {
  margin-top: 65px;
}

.partFive img {
  width: 100%;
  display: block;
}

.partSix {
  background: #03697c;
}

.partSixContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partSixText {
  width: 65%;
}

.picFive {
  height: 350px;
  width: 25%;
  margin-top: 35px;
  -webkit-box-shadow: -20px 20px #08fded;
          box-shadow: -20px 20px #08fded;
}

.partSix h3 {
  margin: 0;
}

.partSeven {
  background: #474bb5;
}

.partSevenPics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.partSevenPics img {
  width: calc(100% / 3 - 20px);
}

footer {
  background: #044779;
  text-align: center;
}

footer p {
  margin: 0;
}

.blog {
  background-image: url(../FunPlace-final-assets/blog-header.jpg);
  padding-bottom: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.blogPartOne {
  background: #03697c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPartOneContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10%;
}

.blogPic {
  width: 100%;
  display: block;
}

.blogOneRight {
  width: 61.3%;
  border-left: 4px solid #08fded;
  border-bottom: 4px solid #08fded;
  padding-left: 40px;
}

.blogOneRight .blogPic {
  position: absolute;
  right: 0px;
  top: 415px;
  width: 60%;
  -webkit-box-shadow: -20px 20px #08fded;
          box-shadow: -20px 20px #08fded;
}

.blogRightText {
  padding: 285px 0 60px 40px;
  width: 90%;
}

.blogOneLeft {
  width: 25%;
}

.blogOneLeft .blogPic {
  -webkit-box-shadow: 20px 0 #474bb5;
          box-shadow: 20px 0 #474bb5;
}

.blogOneLeft p, .blogOneLeft h5 {
  padding-left: 20px;
}

.blogOneLeft h5 {
  margin-bottom: 0;
}

.blogLeftText {
  background: #474bb5;
  width: 85%;
  margin-left: 76px;
  padding-top: 2px;
  padding-bottom: 10px;
}

.blogRightText h3 {
  text-align: left;
  margin-bottom: 0;
  margin-left: 35px;
}

.blogRightText p, .blogRightText li {
  text-align: left;
}

.blogRightText p {
  padding-left: 40px;
}

.blogRightText li {
  padding-top: 20px;
}

.blogPartTwo {
  background: #03697c;
  padding-bottom: 80px;
}

.blogPartTwo h3 {
  margin: 0;
}

.blogTwoContents {
  float: right;
  width: 55%;
  padding: 0 135px 0 25px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment p {
  margin-top: 2px;
}

.commentText {
  padding-left: 40px;
}

.lastComment {
  padding-top: 80px;
}

.comment img {
  padding-top: 5px;
}

form {
  border: none;
  background: #03697c;
  margin-top: 50px;
}

#name, #email {
  float: left;
  background: #03697c;
  width: 45%;
  border-left: none;
  border-bottom: 2px solid #08fded;
  border-right: none;
  border-top: none;
  padding: 20px 0 20px 20px;
}

#email {
  margin-left: 10%;
}

textarea {
  float: left;
  width: 100%;
  background: #03697c;
  border: 2px solid #08fded;
  margin-top: 40px;
  padding: 20px 0 0 20px;
  margin-top: 50px;
}

.blogPartTwo button, .contactForm button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

header {
  background-image: url(../FunPlace-final-assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contactHeader h2 {
  line-height: 180.6px;
}

.contactPartOne {
  background: #03697c;
}

.contactOneContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm, .contactForm #name, .contactForm #email, .contactForm textarea {
  background: #474bb5;
}

.contactForm #name, .contactForm #email, .contactForm textarea {
  border-color: white;
}

.contactForm {
  padding: 40px;
  -webkit-box-shadow: 20px 20px #08fded;
          box-shadow: 20px 20px #08fded;
  position: relative;
  bottom: 183px;
}

.contactForm button {
  margin-top: 50px;
}

.contactIcons p {
  margin-left: 85px;
}

@media (max-width: 1380px) {
  h1 {
    font-size: 10vw;
  }
  .iconContainer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1185px) {
  h1 {
    font-size: 15vw;
  }
  .picOne {
    display: none;
  }
  .partThree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .picTwo, .picThree {
    width: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .partThreeTextLeft, .partThreeTextRight {
    width: 50%;
    text-align: center;
    padding: 0;
  }
  .blogRightText {
    padding-top: 0;
  }
  .picFive {
    height: 70%;
    width: 31%;
  }
  .blogOneRight .blogPic {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .blogOneRight {
    border: none;
  }
  .blogRightText {
    width: 100%;
    padding: 0;
  }
  .blogLeftText {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .blogOneLeft .blogPic {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogTwoContents {
    clear: both;
    width: 90%;
  }
}

@media (max-width: 900px) {
  .links {
    width: 50%;
  }
  .iconBox p {
    font-size: 16px;
  }
  .iconBox h3 {
    font-size: 40px;
  }
  .picFive {
    width: 31%;
    height: 50%;
  }
  .contactForm {
    margin-bottom: 10%;
    position: static;
  }
  .contactOneContents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactIcons ul {
    width: 100%;
    margin-left: 0;
  }
  .contactIcons p {
    margin-left: 0;
  }
  .contactIcons {
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
  .blogOneLeft {
    width: 30%;
  }
  .blogLeftText {
    margin-left: 0;
    width: 100%;
  }
  .blogRightText {
    padding: 0;
  }
  .blogTwoContents {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .iconContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .iconBox {
    width: 100%;
    text-align: center;
  }
  .partThreeContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partThreeText {
    width: 80%;
    text-align: center;
  }
  .blogPartOneContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogTwoContents {
    width: 90%;
    padding: 0;
    float: none;
  }
  .blogOneLeft {
    width: 90%;
  }
  .blogLeftText {
    background: #03697c;
    text-align: center;
  }
  .blogOneRight {
    width: 90%;
    padding-left: 0;
  }
  .blogOneRight h3, .blogOneRight p, .blogOneRight li {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
  .contactForm {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactIcons p {
    margin-left: 0;
  }
  .contactHeader h2 {
    font-size: 15vw;
  }
}

@media (max-width: 625px) {
  .partSixContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .picFive {
    width: 75%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .partSixText {
    width: 100%;
    text-align: center;
  }
  .partSevenPics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partSevenPics img {
    margin-top: 10%;
    width: 75%;
  }
  .blogOneRight {
    padding-left: 0;
  }
  .blogLeftText {
    text-align: center;
  }
  .blogPartTwo {
    text-align: center;
  }
  #name, #email {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 485px) {
  .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .commentText {
    padding-left: 0;
  }
}
